*{
    margin-bottom: 50px;
}
input[type=text]{
    width:500px;
    border:2px solid black;
    padding:5px;
    border-radius:5px;
    font-size: 20px;
}
label{
    margin-left: 500px;
    font-size: 20px;
}
input[type=submit]{
    margin-left: 500px;
}

    
