.restaurant a img{
    margin-bottom: 20px;
}
.restaurant input[type=file]{
    margin-bottom: 20px;
}
.editrestaurant input{
    margin-bottom: 20px;
}
.editrestaurant textarea{
    vertical-align: top;
}
.editrestaurant select{
    margin-bottom: 20px;
}
.editrestaurant input[type=submit]{
    margin-top: 20px;
}
.restaurant_description h3{
    font-size: 30px;
    text-align: center;
}
.restaurant_description div{
    font-size: 30px;
    text-align: center;
}
.restaurantall{
    display:flex;
    justify-content:center; 
}
#edit{
    text-align: center;
}
#delete{
    text-align: center;
}